* {
    box-sizing: border-box;
}
body{
    background: radial-gradient( rgb(0, 166, 255) 51%, rgb(176, 103, 186));
    height: 90vh;
}

@font-face {
    font-family: 'pixel';
    src: url('../fonts/Pixel.ttf');
}
[wm-flappy] {
    position: relative;
    width: 90%;
    min-width: 500px;
    min-height: 500px;
    height: 90%;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    
    border: 5px solid dodgerblue;
    background-color: deepskyblue;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
}

.par-de-barreiras {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 2px solid #000;
}
.barreira .corpo {
    height: 140px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.progresso {
    position: absolute;
    top: 10px;
    right: 10px;

    font-family: pixel;
    font-size: 70px;
    color:  rgb(255, 255, 255);
    z-index: 100;
}







h1 {
    font-size: 2rem;
    font-family: pexel;
    text-align: center;
    color:  rgb(177, 194, 21);
    text-shadow: 1px 1px 5px #000000;
}